@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-sb-default: 18 18 18;
    --bg-primary-default: 0 216 144;
  }

  body {
    background-color: rgb(var(--bg-sb-default));
    color: white
  }


}
